/* Media Queries for Mobile Devices (max-width: 576px) */
@media (max-width: 576px) {

    /* Header */
    header {
        padding: 20px;
    }

    nav{
        padding: 20px 0px;
    }
    .nav-right ul {
        display: none;
    }

    .dropdown a{
        display: block;
    }

    /* Banner */
    .banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner-left {
        flex-basis: 100%;
        padding: 20px;
    }
    .banner-left h1 {
        font-size: 36px;
        line-height: 24px;
        text-align: left;
    }
    .banner-left h1 span {
        font-size: 60px;
    }
    .banner-left p {
        text-align: left;
        font-size: 16px;
        margin: 24px 0;
    }
    
    .banner-left button {
        padding: 12px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 22px;
    }

    .bn-img{
        position: relative;
    }
    
    .bn-text1, .bn-text2{
        position: absolute;
    }

    .bn-text1{
        padding: 12px;
        width: 40%;
        bottom: -160px;
        left: 20px;
        
    }

    .bn-text2{
        padding: 12px;
        right: 24px;
        top: 537px;
    }

    .text1-right{
        text-align: left;
    }

    .text1-right h6{
        font-size: 18px;
        line-height: 18px;
    }

    .text1-right p{
        font-size: 12px;
        line-height: 18px;
    }

    .bn-text1 span{
        height: 25px;
        width: 25px;
    }

    .bn-text2 h4{
        font-size: 30px;
        line-height: 30px;

    }

    .bn-text2 p{
        font-size: 10px;
        line-height: 15px;
    }

    /* Habit Section */

    .habit{
        padding: 20px;
    }

    .h-title h3{
        font-size: 32px;
        line-height: 38px;
    }
    .h-part {
        flex-direction: column;
        column-gap: 12px;
    }
    .h-box {
        margin-bottom: 36px;
    }

    /* Extra Mile Section */
    .ex-mile{
        padding: 20px;
    }

    .ex-content {
        flex-direction: column;
        padding: 30px;
        row-gap: 32px;
    }
    .ex-left h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .ex-left p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .ex-left button{
        width: 100%;
    }

    .ex-right{

    }

    .ex-right img{
        width: 100%;
        height: auto;
    }

    /* BMI Section */

    .bmi{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bmi-title{
        text-align: left;
        padding: 20px;
    }

    .bmi-title h2{
        font-size: 32px;
        line-height: 38px;
    }

    .bmi-title p{
        font-size: 14px;
        line-height: 24px;
    }

    .bmi-left h3, .bmi-left table th{
        font-size: 16px;
        line-height: 20px;
    }

    .bmi-left table th{
        padding: 14px 22px;
        text-align: left;
    }

    .bmi-left table td{
        font-size: 14px;
        line-height: 16px;
        padding: 14px 22px;
    }

    .bmi-left table{
        margin: 32px 0px ;
    }

    .calc-content {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 24px;
        padding: 28px 20px;
    }

    .bmi-right h3{
        font-size: 16px;
        line-height: 20px;
    }

    .bmi-right p{
        font-size: 14px;
        line-height: 24px;
    }

    form {
        grid-template-columns: 1fr 1fr;
    }

    form input, form select {
        padding: 12px; 
        font-size: 14px;
    }

    #activity {
        grid-column: span 2;
    }

    .calculate {
        padding: 12px 32px; 
        font-size: 16px;
    }
    
    .bmi-right p {
        font-size: 12px;
    }

    /* Meet Section */

    .meet{
        padding: 20px;
    }

    .meet-title h2{
        font-size: 32px;
        line-height: 38px;
    }

    .meet-title p{
        font-size: 14px;
        line-height: 24px;
        margin: 16px 0px;
    }

    .meet-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .m-item img{
        height: 272px;
    }
    
    .title h5{
        font-size: 18px;
        line-height: 20px;
    }

    .title span{
        font-size: 12px;
        line-height: 14px;
    }

    /* Purchase Section */
    .purchase{
        padding: 20px;
    }
    .p-content {
        grid-template-columns: 1fr;
    }

    .p-title h3{
        font-size: 32px;
        line-height: 38px;
    }
    .p-item {
        padding: 16px;
    }

    .p-item img{
        height: 200px;
    }
    .p-item h4 {
        font-size: 20px;
    }
    .p-item button {
        padding: 12px 24px;
        font-size: 20px;
    }

    /* Footer */

    footer{
        padding: 20px 0px;
    }

    .f-content{
        padding: 0px 20px;
    }

    .f-start {
        flex-direction: column;
        row-gap: 24px;
        padding: 20px 0px;
    }

    .f-left h1{
        font-size: 56px;
        line-height: 68px;
    }

    footer ul li{
        margin-bottom: 6px;
    }
    
    footer ul li a {
        font-size: 18px;
    }
    .f-end span {
        font-size: 16px;
    }
}
