/* Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body{
    font-family: "Inter", sans-serif;
    background: #000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header section css */
header{
    width: 100%;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}

nav{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left span{
    color: #E6533C;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 44px;
}

.nav-right ul{
    justify-content: space-between;
    list-style: none;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 10px;
}

.nav-right ul li{
    display: inline-block;
    gap: 20;
}

.nav-right ul li a{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding: 8px 20px;
    transition: 0.5s;
}

.nav-right ul li a:hover{
    background-color: #E6533C;
    border-radius: 39px;
    transition: 0.5s;
}

.dropdown a{
    font-size: 18px;
    color: #fff;
    display: none;
}


/* banner section css */

.banner{
    display: flex;
    justify-content: space-between;
}

.banner-left{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-left h1{
    color: #FFF;
    font-size: 78px;
    font-weight: 900;
    line-height: 94px;
}

.banner-left h1 span{
    color: #FFF;
    font-size: 150px;
    font-weight: 400;
    line-height: 94px;
    font-family: 'Miama', sans-serif;
}

.banner-left p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 24px 0px;
}

.bn-left-btn{
    display: flex;
}

.banner-left button{
    display: block !important;
    color: #fff;
    background: transparent;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    margin-right: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.5s;
    width: max-content;
}

.banner-left button:hover{
    background-color: #E6533C;
    transition: 0.5s;
    border: none;
}

.bn-text1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
    bottom: 145px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 12px;
    right: 436px;
    gap: 12px;
}

.bn-text1 span{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #E6533C;
    display: block;
}

.bn-text1 h6, p, span{
    color: #fff;
}

.bn-img{
    position: relative;
    text-align: center;
}

.text1-right h6{
    color: #FAFAF9;
    font-family: Inter;
    font-size: 24px;
    letter-spacing: 0.3px;
    font-weight: 900;
    line-height: 24px;
}

.text1-right p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.bn-text2{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.10);
    top: 260px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    padding: 16px;
    border-radius: 12px;
    right: 105px;
}

.bn-text2 h4{
    color: #FFF;
    font-size: 40px;    
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.bn-text2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1px;
}

.banner-right{
    flex-basis: 30%;
}

/* Habit section css */
.habit{
    width: 100%;
    padding: 80px 0px;
}

.h-title{
    text-align: center;
}

.h-title h3{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
}

.h-title p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 12px 0px;
}

.h-part{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.h-box{
    text-align: center;
}

.h-box img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

.h-box h4{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0px 8px;
}

.h-box p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}

/* Extra Mile section css */
.ex-mile{
    width: 100%;
    padding: 80px 0px;
}
    
.ex-content{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    border-radius: 18px;
    background: #222;
}
    
.ex-left{

}
    
.ex-left h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px; /* 57.6px */
}
    
.ex-left p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
    margin: 32px 0px;
}
    
.ex-left button{
    border-radius: 42px;
    background: #E6533C;
    color: #fff;
    padding: 16px 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    cursor: pointer;
}
    
/* BMI section css */

.bmi{
    width: 100%;
    padding: 100px 0px;
}

.bmi-content{

}

.bmi-title{
    text-align: center;
}

.bmi-title h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
}

.bmi-title p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.3px;
    margin-top: 16px;
}

.bmi-calc{
    background: #222;
}

.calc-content{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 48px;
}

.bmi-left{

}

.bmi-left h3{
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px; 
}

.bmi-left table{
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    margin-top: 48px;
}

.bmi-left table th{
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 18px 40px;
}

.bmi-left table td{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 18px 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
}

.bmi-right{

}

.bmi-right h3{
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
}

.bmi-right p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 12px 0px 24px;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}

form input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    padding: 16px 40px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: none;
    line-height: 22px;
}

form input::placeholder{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

form select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    padding: 16px 40px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: none;
    line-height: 22px;
}

form select option{
    background-color: #393939;
    color: rgba(255, 255, 255, 0.60);
}

#activity{
    grid-column: span 2;
}

.calculate{
    border-radius: 42px;
    background: #E6533C;
    color: #fff;
    padding: 16px 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    cursor: pointer;
    margin-top: 18px;
}

/* Meet section css */
/* Meet section css */
.meet{
    width: 100%;
    padding: 100px 0px;
}
    
.meet-title{
    text-align: center;
}
    
.meet-title h2{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px; 
}
    
.meet-title p{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
    
.meet-gallery{
    padding: 24px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 24px; 
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.m-item{
    position: relative;
}
    


.m-item img{
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 12px;
}

.title{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
    

    
.title h5{
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}
    
.title span{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

/* Purchase section css */
.purchase{
    width: 100%;
    padding: 60px 0px;
}

.p-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.p-title{
    text-align: center;
    margin-bottom: 48px;
}

.p-title h3{
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
}
    
.p-item{
    background: darkgrey;
    padding: 32px;
    border-radius: 16px;
    text-align: center;
}
    
.p-item img{
    height: 272px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
    
.p-item h4{
    font-size: 24px;
    color: #000;
    font-weight: 800;
    margin: 12px 0px;
}
    


.p-item button{
    padding: 16px 32px;
    border-radius: 8px;
    color: #e6533c;
    background: none;
    font-size: 26px;
    font-style: italic;
    border: none;
    background: black;
    cursor: pointer;
}

/* Footer section css */
footer{
    width: 100%;
    padding: 40px 0px;
    background: rgba(255, 255, 255, 0.10);
}

.f-start{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}

.f-left{

}

.f-left h1{
    color: #E6533C;
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    line-height: 84px;
}

.f-left p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.3px;
    margin-top: 16px;
}

footer h4{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 16px;
}

footer ul {
    list-style: none;
}

footer ul li a{
    color: rgba(255, 255, 255, 0.50);
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
   
}

hr{
    border: none;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.10);
    margin: 16px 0px;
    }

.f-end{
    text-align: center;
}
    
.f-end span{
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}